@import "../fragment/yo-header";

@include  yo-header(
  $name:a,
  $bgcolor:#ff6600,
  $item-ico-color:#fff,
  $border-width:0,
  $color:#fff,
  $font-size:.15rem
){
  .regret{
    right:auto;
    left: 0;
  }
.inpm{        //input设置
    // width:1.8rem;
    height: 0.3rem;
    border-radius: 9px;

  }
}




.m-index {
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  section {
    @include flex();
    background: #fff;
    width: 100%;
  }
  nav {
    height:.50rem;
    background: #f9fafc;
    ul{
      width: 100%;
      height: 100%;
      @include flexbox();
      li{
        @include flex();
        span{
          @include flexbox();
          @include flex-direction(column);
          @include justify-content(content );
          @include align-items(center);
          // color: #65686d;
          padding-top:.08rem;
          line-height: .21rem;
        font-size: .23rem;
          b{
            color: #9b9c9e;
            font-size: .12rem;
            font-weight: normal;
          }
        }
        &.active span{
          color: red;

        }
      }
    }
  }
}
